{% load staticfiles %}
<div class="awards_container">
  <div class="wrapper">
    <section class="main awards" id="actions">
      <div class="awards__icon sprite sprite--i_sign"></div>
      <h2 class="awards__title">Бэби-клуб является ежегодным призёром престижных российских конкурсов</h2>
      <ul class="awards__list">
        <li class="awards__item">
          <div class="awards__item-image">
            <div class="awards__item-image_pic" style="background-image: url(img/golden_bear.png); width: 151px; height: 151px;"></div>
          </div>
          <div class="awards__item-title">Лучший сервис для детей «Золотой медвежонок» 2016&nbsp;год</div>
        </li>
        <li class="awards__item">
          <div class="awards__item-image">
            <div class="awards__item-image_pic" style="background-image: url(img/forbes.png); width: 143px; height: 143px;"></div>
          </div>
          <div class="awards__item-title">Топ 25 успешных франшиз Forbes 2015 года</div>
        </li>
        <li class="awards__item">
          <div class="awards__item-image">
            <div class="awards__item-image_pic" style="background-image: url(img/momentum_of_kindness.png); width: 141px; height: 63px;"></div>
          </div>
          <div class="awards__item-title">Развитие и продвижение предпринимательства в России</div>
        </li>
        <li class="awards__item">
          <div class="awards__item-image">
            <div class="awards__item-image_pic" style="background-image: url(img/association_aidt.png); width: 141px; height: 86px;"></div>
          </div>
          <div class="awards__item-title">Ассоциация предприятий индустрии детских товаров</div>
        </li>
        <li class="awards__item">
          <div class="awards__item-image">
            <div class="awards__item-image_pic" style="background-image: url(img/golden_bear.png); width: 151px; height: 151px;"></div>
          </div>
          <div class="awards__item-title">Лучший сервис для детей «Золотой медвежонок» 2016&nbsp;год</div>
        </li>
        <li class="awards__item">
          <div class="awards__item-image">
            <div class="awards__item-image_pic" style="background-image: url(img/forbes.png); width: 143px; height: 143px;"></div>
          </div>
          <div class="awards__item-title">Топ 25 успешных франшиз Forbes 2015 года</div>
        </li>
        <li class="awards__item">
          <div class="awards__item-image">
            <div class="awards__item-image_pic" style="background-image: url(img/momentum_of_kindness.png); width: 141px; height: 63px;"></div>
          </div>
          <div class="awards__item-title">Развитие и продвижение предпринимательства в России</div>
        </li>
        <li class="awards__item">
          <div class="awards__item-image">
            <div class="awards__item-image_pic" style="background-image: url(img/association_aidt.png); width: 141px; height: 86px;"></div>
          </div>
          <div class="awards__item-title">Ассоциация предприятий индустрии детских товаров</div>
        </li>
      </ul>
    </section>
  </div>
</div>
