{% load staticfiles %}
<div class="footer_container">
  <div class="wrapper">
    <footer class="footer"><a class="footer__logo" href="index.html">
        <div class="footer__logo-image"><img class="footer__logo-image_pic" src="{% static 'baobab/theme_2/img/logo.png' %}" width="216" height="37"></div>
        <div class="footer__logo-text">Бережное развитие интеллекта</div></a>
      <ul class="footer__nav">
        <li class="footer__nav-item"><a class="footer__nav-link" href="contacts.html">Схема проезда</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="faq.html">Вопросы и ответы</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="library.html">Библиотека</a></li>
      </ul>
      <div class="footer__location">
        <div class="footer__location-icon sprite sprite--map_yellow-pin"></div>
        <div class="footer__location-text">Москва,<br>Песочная аллея, 7А</div>
      </div>
    </footer>
  </div>
</div>