{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">


{#    <link rel="stylesheet" type="text/css" href="{% static 'baobab/theme/vendor/bootstrap/css/bootstrap.min.css' %}" >#}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Детский центр Бэби-клуб в Сокольниках</title>
        <meta name="author" content="">
        <meta name="description" content="Ваш малыш быстро научится писать, считать и проявлять себя в творчестве благодаря уникальному методу бережного интеллектуального развития.">
        <meta name="keywords" content="Бэби-клуб в Сокольниках">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="favicon/manifest.json">
        <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{% static 'baobab/theme_2/css/main.css'%}">
    {#    <link rel="stylesheet" href="css/main.css">#}
    </head>
    <body>
        {% include "theme_2/nav_bar.html" %}
        {% include "theme_2/header.html" %}


        <script src="{% static 'baobab/theme_2/js/jquery/3.1.1/jquery.min.js' %}"></script>
        <script src="{% static 'baobab/theme_2/js/main.js' %}"></script>
    </body>
</html>

{#<body id="page-top" class="index">#}
{##}
{#    <!-- Navigation -->#}
{#    {% include "navigation.html" %}#}
{##}
{#    <!-- Header -->#}
{#    {% include "nav_bar.html" %}#}
{##}
{#    <!-- Carousel -->#}
{#    {% include "carousel.html" %}#}
{##}
{#    <!-- Carousel link -->#}
{#    {% include "carousel_link.html" %}#}
{#    {% include "programs.html" %}#}
{#    <!-- Services Section -->#}
{#    {% include "actions.html" %}#}
{##}
{#    <!-- Portfolio Grid Section -->#}
{##}
{##}
{#    <!-- About Section -->#}
{#    {% include "about.html" %}#}
{##}
{#    <!-- Team Section -->#}
{#    {% include "team.html" %}#}
{##}
{#    <!-- Clients Aside -->#}
{#    {% include "clients.html" %}#}
{##}
{#    <!-- Contact Section -->#}
{#    {% include "contact.html" %}#}
{##}
{#    <!-- footer -->#}
{#    {% include "footer.html" %}#}
{##}
{#{% include "modals.html" %}#}
{##}
{#    <!-- jQuery -->#}
{#    <script src="vendor/jquery/jquery.min.js"></script>#}
{#    <script src="{% static 'baobab/theme/vendor/jquery/jquery.min.js'%}"></script>#}
{#    <!-- Bootstrap Core JavaScript -->#}
{#    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>#}
{#    <script src="{% static 'baobab/theme/vendor/bootstrap/js/bootstrap.min.js'%}"></script>#}
{#    <!-- Plugin JavaScript -->#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>#}
{#    <script src="{% static 'rusilomer/'%}"></script>#}
{#    <!-- Contact Form JavaScript -->#}
{#    <script src="js/jqBootstrapValidation.js"></script>#}
{#    <script src="js/contact_me.js"></script>#}
{#    <script src="{% static 'baobab/theme/js/jqBootstrapValidation.js'%}"></script>#}
{#    <script src="{% static 'baobab/theme/js/contact_me.js'%}"></script>#}
{#    <!-- Theme JavaScript -->#}
{#    <script src="js/agency.min.js"></script>#}
{#    <script src="{% static 'baobab/theme/js/agency.js'%}"></script>#}
{#</body>#}
{##}
{#</html>#}
