{% load staticfiles %}
<div class="welcome_container">
  <div class="wrapper">
    <section class="main welcome">
      <div class="welcome__icon sprite sprite--fox"></div>
      <div class="welcome__icon sprite sprite--l_sign"></div>
      <div class="welcome__image sprite sprite--clip"></div>
      <div class="welcome__image sprite sprite--eraser_yellow"></div>
      <div class="welcome__image sprite sprite--sharpener"></div>
      <div class="welcome__title">Приходите на пробное <br>бесплатное занятие в наш клуб!</div><a class="welcome__button button-modal button-modal--welcome" href="#">Записаться на бесплатное занятие</a>
    </section>
  </div>
</div>