{% load staticfiles %}
<div class="modal_overlay"></div>
    <div class="modal modal--advice">
      <form class="modal-form" id="modal-advice" onsubmit="yaCounter44275874.reachGoal('zayavka'); return true;">
        <fieldset class="form__header">
          <div class="modal-form__title modal-form__title--default">Заказать звонок</div>
          <div class="modal-form__title modal-form__title--thanks">Благодарим <br>за оставленную заявку!</div>
          <div class="modal-form__text">Оставьте свои контакты и наш специалист свяжется с Вами в течение 15 минут</div>
          <div class="modal-form__text modal-form__text--thanks">Наш специалист свяжется с Вами в 15 минут для уточнения деталей</div>
          <div class="modal-form__image sprite sprite--fox"></div>
          <div class="modal-form__close">+</div>
        </fieldset>
        <fieldset class="modal-form__section">
          <input type="hidden" name="source" class="source" value="" />
          <input type="hidden" name="term" class="term" value="" />
          <input type="hidden" name="campaign" class="campaign" value="" />
          <input type="hidden" name="project_name" value="Baby-Club">
          <input type="hidden" name="admin_email" value="89191020010@mail.ru">
          <input type="hidden" name="form_subject" value="Заявка на консультацию">
          <input class="modal-form__name" type="text" name="name" placeholder="Ваше имя" required>
          <input class="modal-form__phone" type="phone" name="phone" placeholder="Ваш телефон" required>
          <button class="modal-form__button" type="submit">Заказать звонок</button>
        </fieldset>
      </form>
    </div>
    <div class="modal modal--welcome">
      <form class="modal-form" id="modal-welcome" onsubmit="yaCounter44275874.reachGoal('zayavka'); return true;">
        <fieldset class="form__header">
          <div class="modal-form__title modal-form__title--default">Запись на первое бесплатное занятие</div>
          <div class="modal-form__title modal-form__title--thanks">Благодарим <br>за оставленную заявку!</div>
          <div class="modal-form__text">Оставьте свои контакты и наш специалист свяжется с Вами для уточнения деталей</div>
          <div class="modal-form__text modal-form__text--thanks">Наш специалист свяжется с Вами в течение 15 минут для уточнения деталей</div>
          <div class="modal-form__image sprite sprite--fox"></div>
          <div class="modal-form__close">+</div>
        </fieldset>
        <fieldset class="modal-form__section">
          <input type="hidden" name="source" class="source" value="" />
          <input type="hidden" name="term" class="term" value="" />
          <input type="hidden" name="campaign" class="campaign" value="" />
          <input type="hidden" name="project_name" value="Baby-Club">
          <input type="hidden" name="admin_email" value="6397132@gmail.com">
          <input type="hidden" name="form_subject" value="Заявка на бесплатное пробное занятие">
          <input class="modal-form__name" type="text" name="name" placeholder="Ваше имя" required>
          <input class="modal-form__phone" type="phone" name="phone" placeholder="Ваш телефон" required>
          <button class="modal-form__button" type="submit">Записаться</button>
        </fieldset>
      </form>
    </div>