{% load staticfiles %}
    <div class="container">
      <div class="header_container">
        <div class="wrapper">
          <header class="header">
            <div class="menu"><a class="menu__link" href="#">
                <div class="menu__link-navicon"></div></a>
              <div class="menu__logo"><a class="menu__logo-link" href="index.html">
                  <div class="menu__logo-image"><img class="menu__logo-image_pic" src="{% static 'baobab/theme_2/img/logo.png' %}"></div></a>
                <div class="menu__logo-text">Бережное развитие интеллекта</div>
              </div><a class="menu__phone" href="tel:3828021" aria-hidden="true">
                <div class="menu__phone-image">
                  <div class="menu__phone-image_pic sprite sprite--phone"></div>
                </div>
                <div class="menu__phone-text">382-80-21</div></a>
              <div class="menu__title">Меню</div>
            </div>
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item nav__item--active ">
                <a class="nav__link" href="index.html">Главная</a></li>
                <li class="nav__item  ">
                <a class="nav__link" href="programs.html">Программы</a></li>
                <li class="nav__item  ">
                <a class="nav__link" href="methodic.html">О методике</a></li>
                <li class="nav__item  ">
                <a class="nav__link" href="about.html">О клубе</a></li>
                <li class="nav__item  ">
                <a class="nav__link" href="contacts.html">Контакты</a></li>
                <li class="nav__item  ">
                <a class="nav__link" href="faq.html">Вопросы и ответы</a></li>
                <li class="nav__item  ">
                <a class="nav__link" href="library.html">Библиотека</a></li>
              </ul>
            </nav><a class="menu__phone" href="tel:3828021" aria-hidden="true">
              <div class="menu__phone-image">
                <div class="menu__phone-image_pic sprite sprite--phone"></div>
              </div>
              <div class="menu__phone-text">382-80-21</div></a><a class="header__order button-modal button-modal--advice" href="#">Заказать звонок</a>
          </header>
        </div>
      </div>
    </div>
