/*Base START*/
html{
	font-size:1em
}

body,html{
	width:100%;
	height:100%;
	margin: 0px;
	
}

ul{
	padding:0;
	margin:0
}

li{
	list-style:none
}

audio,canvas,iframe,img,svg,video{
	vertical-align:middle
}
body{
	font:1rem/1.42 Story,Helvetica,Helvetica Neue,Arial;
	color:#fff;
	-webkit-font-smoothing:antialiased
}
.wrapper{
	width:100%;
	min-width:20rem;
	max-width:73.125rem;
	margin:0 auto
}

.footer,.header,.main{
	width:91%;
	margin:0 auto
}

@media (min-width:46.875rem){
	.footer,.header,.main{
	width:95%;
	max-width:43.125rem
}


}

@media (min-width:46.875rem) and (min-width:64rem){
	.footer,.header,.main{
		max-width:69.375rem
	}
}

@font-face{
	font-family:'Direct';
	src:url(../fonts/direct.eot);
	src:url(../fonts/directd41d.eot?#iefix) format("embedded-opentype"),url(../fonts/direct.woff2) format("woff2"),url(../fonts/direct.woff) format("woff"),url(../fonts/direct.ttf) format("truetype"),url(../fonts/direct.svg#directrgbold) format("svg");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:'Story';
	src:url(../fonts/story.eot);
	src:url(../fonts/storyd41d.eot?#iefix) format("embedded-opentype"),url(../fonts/story.woff2) format("woff2"),url(../fonts/story.woff) format("woff"),url(../fonts/story.ttf) format("truetype"),url(../fonts/story.svg#storyregular) format("svg");
	font-weight:400;
	font-style:normal
}
/*Base END*/
/*navbar START*/
.header{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	height:2.8125rem
}

@media (min-width:31.875rem){
	.header{
		height:4.6875rem
	}
}

.header_container{
	position:fixed;
	width:100%;
	z-index:3;
	left:0;
	background:#ef6525;
	transition:box-shadow .4s;
	border-top:.1875rem solid #fcaf17
}

@media (min-width:48rem){
	.header_container{
		border-width:.3125rem
	}
}

@media (min-width:48rem) and (min-width:75rem){
	.header_container{
		border-width:.4375rem
	}
}

.header_container--scroll{
	box-shadow:0 .4375rem 1.0625rem -.125rem rgba(96,57,0,.6);
	transition:box-shadow .8s
}

.header__order{
	font-size:.625rem;
	line-height:.75rem;
	padding:.3125rem 0;
	margin-left:.625rem;
	margin-right:-.5rem
}

@media (min-width:40rem){
	.header__order{
		width:6.25rem;
		font-size:.75rem;
		line-height:.875rem;
		padding:.5rem 0;
		margin-left:.9375rem
	}
}

@media (min-width:40rem) and (min-width:75rem){
	.header__order{
		margin-right:-1.875rem;
		margin-left:.625rem
	}
}

.menu{
	position:relative;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	width:100%
}

@media (min-width:75rem){
	.menu{
		width:auto
	}
}

.menu__logo,.nav+.menu__phone{
	display:none
}

@media (min-width:40rem){
	.menu__logo{
		display:block;
		margin-left:1.25rem
	}
}

@media (min-width:40rem) and (min-width:48rem){
	.menu__logo{
		margin-left:3.75rem
	}
}

@media (min-width:40rem) and (min-width:48rem) and (min-width:75rem){
	.menu__logo{
		margin-left:0
	}
}

.menu__logo-image{
	width:12.5rem
}

@media (min-width:75rem){
	.menu__logo-image{
		width:13.5rem
	}
}

.menu__logo-image_pic{
	width:100%;
	max-width:100%
}

.menu__logo-text{
	font-size:.75rem;
	text-align:center
}

.menu__phone{
	text-decoration:none;
	font-family:Direct;
	color:#fff;
	text-align:right;
	margin-left:auto
}

@media (min-width:75rem){
	.nav+.menu__phone{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		margin-left:auto;
		font-size:1rem
	}
	.menu__logo+.menu__phone{
		display:none
	}
}

@media (min-width:31.875rem){
	.menu__phone{
		position:relative;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		width:11.5625rem;
		background:#fcaf17;
		line-height:2.5rem;
		padding:0 .625rem;
		border-radius:1.25rem;
		box-shadow:0 .0625rem .625rem 0 rgba(131,78,0,.2)
	}
	.menu__phone:after{
		content:'';
		display:block;
		position:absolute;
		top:.5625rem;
		left:-.3125rem;
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
		border:.3125rem solid transparent;
		border-bottom-color:#fcaf17;
		border-right-color:#fcaf17
	}
}

.menu__phone-image{
	display:none
}

@media (min-width:31.875rem){
	.menu__phone-image{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		-webkit-box-pack:center;
		-ms-flex-pack:center;
		justify-content:center;
		width:1.9375rem;
		height:1.875rem;
		background:#fff;
		border-radius:50%;
		margin-right:.3125rem
	}
}

.menu__title{
	position:absolute;
	z-index:10;
	right:0;
	font-family:Direct;
	text-transform:uppercase;
	opacity:0;
	-webkit-transform:translate3D(3.75rem,-26.25rem,0);
	-ms-transform:translate3D(3.75rem,-26.25rem,0);
	transform:translate3D(3.75rem,-26.25rem,0);
	transition:transform .8s;
	transition:transform .8s,-webkit-transform .8s
}

@media (min-width:75rem){
	.menu__title{
		display:none
	}
}

.menu__link{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	position:relative;
	z-index:10;
	width:1.5625rem;
	height:1.25rem
}

@media (min-width:75rem){
	.menu__link{
		display:none
	}
}

.menu__link-navicon{
	width:1.5625rem;
	height:.25rem;
	background:#fff;
	transition:background 0s .3s
}

.menu__link-navicon:after,.menu__link-navicon:before{
	content:'';
	display:block;
	position:absolute;
	width:1.5625rem;
	height:.25rem;
	background:#fff;
	transition:top .2s linear .34s,bottom .2s linear .34s,transform .2s linear;
	transition:top .2s linear .34s,bottom .2s linear .34s,transform .2s linear,-webkit-transform .2s linear
}

.menu__link-navicon:before{
	top:0
}

.menu__link-navicon:after{
	bottom:0
}

.menu.active,.nav{
	width:100%
}

@media (min-width:75rem){
	.menu.active{
		width:auto
	}
}

.menu.active .menu__title{
	-webkit-transform:translate3D(3.75rem,0,0);
	-ms-transform:translate3D(3.75rem,0,0);
	transform:translate3D(3.75rem,0,0);
	opacity:1;
	z-index:10
}

.menu.active .menu__link-navicon{
	background:0 0
}

.menu.active .menu__link-navicon:before{
	top:.5rem;
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
	transition:top .2s linear,transform .2s linear .4s;
	transition:top .2s linear,transform .2s linear .4s,-webkit-transform .2s linear .4s
}

.menu.active .menu__link-navicon:after{
	bottom:.5rem;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	transition:bottom .2s linear,transform .2s linear .4s;
	transition:bottom .2s linear,transform .2s linear .4s,-webkit-transform .2s linear .4s
}

.nav{
	position:fixed;
	z-index:2;
	height:26.25rem;
	left:0;
	top:-26.25rem;
	opacity:0;
	text-align:center;
	background:#ef6525;
	padding-top:3.4375rem;
	box-sizing:border-box;
	-webkit-transform:translate3D(0,0,0);
	-ms-transform:translate3D(0,0,0);
	transform:translate3D(0,0,0);
	transition:transform .8s,opacity 0s .8s;
	transition:transform .8s,opacity 0s .8s,-webkit-transform .8s
}

@media (min-width:75rem){
	.nav{
		position:static;
		top:0;
		opacity:1;
		padding:0;
		height:auto;
		transition:none;
		width:auto;
		margin-left:3.125rem
	}
	.nav__list{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex
	}
}

.nav__item{
	position:relative;
	background:#ef6525;
	padding-bottom:1.5625rem
}

@media (min-width:75rem){
	.nav__item{
		height:4.6875rem;
		padding:0 .75rem;
		margin-right:.75rem
	}
	.nav__item:nth-child(5){
		display:block
	}
	.nav__item:nth-child(6),.nav__item:nth-child(7){
		display:none
	}
}

.nav__item:not(:first-child):before{
	content:'';
	display:block;
	position:absolute;
	top:-.9375rem;
	left:50%;
	width:.375rem;
	height:.375rem;
	margin-left:-.1875rem;
	background:#fcaf17;
	border-radius:50%
}

@media (min-width:75rem){
	.nav__item:not(:first-child):before{
		display:none
	}
}

.nav__item--active:not(:first-child):before{
	top:-1.125rem
}

.nav__item--active+.nav__item--active:before{
	top:-.75rem
}

@media (min-width:75rem){
	.nav__item--active{
		background:#fcaf17;
		border-radius:0 0 .625rem .625rem;
		box-shadow:0 .3125rem .9375rem 0 rgba(0,0,0,.2)
	}
}

.nav__item-title,.nav__link{
	font-family:Direct;
	text-transform:uppercase
}

.nav__item-title{
	position:absolute;
	z-index:3;
	right:0;
	opacity:0;
	-webkit-transform:translate3D(0,-26.25rem,0);
	-ms-transform:translate3D(0,-26.25rem,0);
	transform:translate3D(0,-26.25rem,0);
	transition:transform .8s;
	transition:transform .8s,-webkit-transform .8s
}

.nav__link{
	display:block;
	width:10rem;
	text-decoration:none;
	color:#fff;
	font-size:.875rem;
	line-height:1.5625rem;
	margin:0 auto;
	border-radius:.3125rem
}

@media (min-width:75rem){
	.nav__link{
		width:auto;
		line-height:4.6875rem
	}
	.nav__link:hover{
		text-decoration:underline
	}
}

.nav__item--active .nav__link{
	background:#fcaf17
}

@media (min-width:75rem){
	.nav__item--active .nav__link{
		text-decoration:none;
		background:0 0
	}
}

.nav.active{
	opacity:1;
	-webkit-transform:translate3D(0,26.25rem,0);
	-ms-transform:translate3D(0,26.25rem,0);
	transform:translate3D(0,26.25rem,0);
	transition:transform .8s;
	transition:transform .8s,-webkit-transform .8s
}
@media (min-width:75rem){
	.nav.active{
		-webkit-transform:none;
		-ms-transform:none;
		transform:none;
		transition:none
	}
}
.mobile-logo{
	width:100%
}
.mobile-logo_container{
	position:relative;
	z-index:2;
	height:4.6875rem;
	padding-top:4.0625rem;
	text-align:center
}
@media (min-width:31.875rem){
	.mobile-logo_container{
		padding-top:5.625rem
	}
}
@media (min-width:31.875rem) and (min-width:40rem){
	.mobile-logo_container{
		display:none
	}
}
.mobile-logo_container:before{
	content:'';
	display:block;
	position:fixed;
	z-index:3;
	width:100%;
	height:.1875rem;
	background:#fcaf17;
	top:0
}
.mobile-logo__link{
	display:block;
	width:12.5rem;
	margin:0 auto;
	text-decoration:none;
	text-align:center
}
.mobile-logo__image{
	width:12.5rem
}
.mobile-logo__text{
	text-align:center;
	color:#fff;
	font-size:.6875rem;
	margin-top:.125rem
}
.header__order,.modal-form__button,.welcome__button{
	text-decoration:none;
	color:#fff;
	border-radius:.3125rem
}

.header__order,.modal-form__button{
	font-family:Direct;
	display:inline-block;
	background:red;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	outline:none;
	border:none;
	box-shadow:0 .3125rem 1.25rem 0 rgba(174,0,0,.4)
}

/*navbar END*/