{% load staticfiles %}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Акции</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{% static 'baobab/theme/img/about/1.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Бонусная программа</h4>
                                <h4 class="subheading">"Ответственный родитель"</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">При оплате абонемента на следующий месяц в последнее занятие текущего месяца - скидка 10%.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{% static 'baobab/theme/img/about/2.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Акция</h4>
                                <h4 class="subheading">Пробное занятие - бесплатно</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Вы можете получить пробное занятие бесплатно. Есть два способа:</p>
                                <ul>
                                    <li>Приобретите абонемент на первом же занятии и пробное занятие будет для Вас бесплатно.</li>
{#                                    <li>Предъявите купон на бесплатное пробное занятие (их раздают на улицах наши промоутеры).</li>#}
                                    <li>Приведите друга с собой и так же получите бесплатное пробное занятие!</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{% static 'baobab/theme/img/about/3.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Программа лояльности</h4>
                                <h4 class="subheading">Приведи друга</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Клиент,</p>
                            </div>
                        </div>
                    </li>
{#                    <li class="timeline-inverted">#}
{#                        <div class="timeline-image">#}
{#                            <img class="img-circle img-responsive" src="{% static 'baobab/theme/img/about/4.jpg' %}" alt="">#}
{#                        </div>#}
{#                        <div class="timeline-panel">#}
{#                            <div class="timeline-heading">#}
{#                                <h4>July 2014</h4>#}
{#                                <h4 class="subheading">Phase Two Expansion</h4>#}
{#                            </div>#}
{#                            <div class="timeline-body">#}
{#                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="timeline-inverted">#}
{#                        <div class="timeline-image">#}
{#                            <h4>Be Part#}
{#                                <br>Of Our#}
{#                                <br>Story!</h4>#}
{#                        </div>#}
{#                    </li>#}
                </ul>
            </div>
        </div>
    </div>
</section>