{% load staticfiles %}
<section id="actions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Акции</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                </span>
{#                <h4>Бонусная программа</h4>#}
                <h4 class="subheading">"Ответственный родитель"</h4>
                <p class="text-muted">При оплате абонемента на следующий месяц в последнее занятие текущего месяца - скидка 10%. </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
{#                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>#}
                    <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                </span>
{#                <h4>Акция</h4>#}
                <h4 class="subheading">"Пробное занятие - бесплатно"</h4>
                <p class="text-muted">Вы можете получить пробное занятие бесплатно. Есть два способа:</p>
                    <p>Приобретите абонемент на первом же занятии и пробное занятие будет для Вас бесплатно.</p>
                    <p>Приведите друга с собой и так же получите бесплатное пробное занятие!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
{#                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>#}
                </span>
{#                <h4>Программа лояльности</h4>#}
                <h4 class="subheading">"Приведи друга"</h4>
                <p class="text-muted">Расскажи о нас другу! Каждый новый клиент, который указал Ваше имя в графе "откуда Вы узнали о нашем клубе" даёт Вам скидку 10% к абонементу.</p>
            </div>
        </div>
    </div>
</section>
