{% load staticfiles %}
<!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about yprogramolio projects! -->
    <!-- Вместе с мамой -->
{#    <div class="programs-modal modal fade" id="Modal{{ program.id }}"  tabindex="-1" role="dialog">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="close-modal" data-dismiss="modal">#}
{#                    <div class="lr">#}
{#                        <div class="rl">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-8 col-lg-offset-2">#}
{#                            <div class="modal-body">#}
{#                                <h2>Вместе с мамой</h2>#}
{#                                <p class="item-intro text-muted">1-3 года.</p>#}
{#                                <img class="img-responsive img-centered" src="{% static 'baobab/theme/img/programs/roundicons-free.png' %}" alt="">#}
{#                                <p>#}
{#                                    Для детей от 1-го года наш клуб предлагает программу развивающих занятий  "Мама и малыш". Дети занимаются вместе с мамами. В группах не более 5 человек. Занятия состоят из 5-ти частей: речь с движениями, коммуникативные игры + эмоциональное развитие, музыкальное занятие, сказка и творчество, подвижные игры.#}
{#                                    Помимо интеллектуального развития малыша, занятия способствуют развитию эмоциональных отношений между ребенком и мамой (семьей) и помогают малышу войти в наш большой мир.#}
{#                                <p>#}
{#                                <div class="row">#}
{#                                    {% include "test.html" %}<br>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr1">#}
{#                                            <h4 id="one" >500р.</h4>#}
{#                                            <h5>разовый абонемент</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>разовый абонемент</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr1">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr2">#}
{#                                            <h4>1800р.*</h4>#}
{#                                            <h5>1900р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 4 занятия</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr3">#}
{#                                            <h4>3600р.*</h4>#}
{#                                            <h5>3800р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 8 занятий</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть направление</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <!-- Музыка с мамой -->#}
{#    <div class="programs-modal modal fade" id="programsModal2" tabindex="-1" role="dialog" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="close-modal" data-dismiss="modal">#}
{#                    <div class="lr">#}
{#                        <div class="rl">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-8 col-lg-offset-2">#}
{#                            <div class="modal-body">#}
{#                                <h2>Музыка с мамой</h2>#}
{#                                <p class="item-intro text-muted">1-3 года.</p>#}
{#                                <img class="img-responsive img-centered" src="{% static 'baobab/theme/img/programs/startup-framework-preview.png' %}" alt="">#}
{#                                <p><a href="http://designmodo.com/startup/?u=787">Музыка с мамой </a> это занятия для самых маленьких где дети впервые пробуют петь и танцевать, играют в подвижные, пальчиковые и ролевые игры.  Малыши учатся слушать и слышать, открывают для себя мир звуков  через знакомство  с классическими шедеврами в доступной форме.  Учатся определять характер и настроение музыки. Развивают слух и  чувство ритма. Учатся играть на детских музыкальных инструментах,  различать звучание инструментов на слух.</p>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr1">#}
{#                                            <h4 id="one" >500р.</h4>#}
{#                                            <h5>разовый абонемент</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>разовый абонемент</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr1">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr2">#}
{#                                            <h4>1800р.*</h4>#}
{#                                            <h5>1900р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 4 занятия</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr3">#}
{#                                            <h4>3600р.*</h4>#}
{#                                            <h5>3800р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 8 занятий</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть направление</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <!-- Мастер-классы -->#}
{#    <div class="programs-modal modal fade" id="programsModal3" tabindex="-1" role="dialog" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="close-modal" data-dismiss="modal">#}
{#                    <div class="lr">#}
{#                        <div class="rl">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-8 col-lg-offset-2">#}
{#                            <div class="modal-body">#}
{#                                <!-- Project Details Go Here -->#}
{#                                <h2>Мастер-классы</h2>#}
{#                                <p class="item-intro text-muted">Для малышей и родителей.</p>#}
{#                                <img class="img-responsive img-centered" src="{% static 'baobab/theme/img/programs/treehouse-preview.png' %}" alt="">#}
{#                                <p>Мастер классы для детей — это простой и в то же время эффективный способ научить вашего ребенка чему-нибудь новому.#}
{#В ходе проведения мастер-класса процесс обучения совмещён с игрой, поэтому дети веселятся и в то же время осваивают новые умения и узнают много интересного. </p>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr1">#}
{#                                            <h4 id="one" >500р.</h4>#}
{#                                            <h5>разовый абонемент</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>разовый абонемент</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr1">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr2">#}
{#                                            <h4>1800р.*</h4>#}
{#                                            <h5>1900р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 4 занятия</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr3">#}
{#                                            <h4>3600р.*</h4>#}
{#                                            <h5>3800р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 8 занятий</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть направление</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <!-- Учимся играя -->#}
{#    <div class="programs-modal modal fade" id="programsModal4" tabindex="-1" role="dialog" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="close-modal" data-dismiss="modal">#}
{#                    <div class="lr">#}
{#                        <div class="rl">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-8 col-lg-offset-2">#}
{#                            <div class="modal-body">#}
{#                                <!-- Project Details Go Here -->#}
{#                                <h2>Project Name</h2>#}
{#                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>#}
{#                                <img class="img-responsive img-centered" src="{% static 'baobab/theme/img/programs/golden-preview.png' %}" alt="">#}
{#                                <p>Наши занятия с малышами направлены на развитие воображения, внимания, логики, памяти,#}
{#                                    знакомят детей с основами геометрии и арифметики, открывают перед ними страну букв.#}
{#                                    Мы выполняем упражнения на развитие крупной и мелкой моторики, учимся фантазировать,#}
{#                                    решать нестандартные задачи, творить…. Мир знаний представляется увлекательным путешествием,#}
{#                                    а учеба – интересным и захватывающим действием!</p>#}
{#                                 <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr1">#}
{#                                            <h4 id="one" >500р.</h4>#}
{#                                            <h5>разовый абонемент</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>разовый абонемент</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr1">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr2">#}
{#                                            <h4>1800р.*</h4>#}
{#                                            <h5>1900р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 4 занятия</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr3">#}
{#                                            <h4>3600р.*</h4>#}
{#                                            <h5>3800р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 8 занятий</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть направление</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <!-- Музыкальные занятия -->#}
{#    <div class="programs-modal modal fade" id="programsModal5" tabindex="-1" role="dialog" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="close-modal" data-dismiss="modal">#}
{#                    <div class="lr">#}
{#                        <div class="rl">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-8 col-lg-offset-2">#}
{#                            <div class="modal-body">#}
{#                                <!-- Project Details Go Here -->#}
{#                                <h2>Музыкальные занятия</h2>#}
{#                                <p class="item-intro text-muted">4-7 лет.</p>#}
{#                                <img class="img-responsive img-centered" src="{% static 'baobab/theme/img/programs/escape-preview.png' %}" alt="">#}
{#                                <p>Звездными музыкантами становятся немногие. Но качественные занятия способны многое дать ребенку. В первую очередь, это принципиально другой взгляд на эстетическую действительность, развитый музыкальный вкус, любовь к жизни и к миру.</p>#}
{#                                <p>Занятия музыкой с ранних лет делают ребенка намного более эрудированным, помогают ему формировать индивидуальный взгляд на ряд вещей.</p>#}
{##}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr1">#}
{#                                            <h4 id="one" >500р.</h4>#}
{#                                            <h5>разовый абонемент</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>разовый абонемент</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr1">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr2">#}
{#                                            <h4>1800р.*</h4>#}
{#                                            <h5>1900р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 4 занятия</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr3">#}
{#                                            <h4>3600р.*</h4>#}
{#                                            <h5>3800р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 8 занятий</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть направление</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <!-- Мастерская сказки -->#}
{#    <div class="programs-modal modal fade" id="programsModal6" tabindex="-1" role="dialog" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="close-modal" data-dismiss="modal">#}
{#                    <div class="lr">#}
{#                        <div class="rl">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-8 col-lg-offset-2">#}
{#                            <div class="modal-body">#}
{#                                <!-- Project Details Go Here -->#}
{#                                <h2>Мастерская сказки</h2>#}
{#                                <p class="item-intro text-muted">4-10 лет</p>#}
{#                                <img class="img-responsive img-centered" src="{% static 'baobab/theme/img/programs/dreams-preview.png' %}" alt="">#}
{#                                <p>Данные занятия, направленные на познание и развитие личности ребенка, повышение творческого потенциала, раскрытие талантов, борьбу со страхами и социализацию.</p>#}
{#                                <p>Методика сказкотерапии позволяет говорить с ребёнком на близком и понятном ему языке, лучше понимать его, узнавать и развивать. Работа со сказочными образами помогает развиваться интеллектуально и творчески, учит эффективно общаться и способствует социализации.</p>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr1">#}
{#                                            <h4 id="one" >500р.</h4>#}
{#                                            <h5>разовый абонемент</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>разовый абонемент</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr1">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr2">#}
{#                                            <h4>1800р.*</h4>#}
{#                                            <h5>1900р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 4 занятия</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 price-grid">#}
{#                                    <div class="price-block">#}
{#                                        <div class="price-gd-top pric-clr3">#}
{#                                            <h4>3600р.*</h4>#}
{#                                            <h5>3800р.</h5>#}
{#                                        </div>#}
{#                                        <div class="price-gd-bottom">#}
{#                                            <div class="price-list">#}
{#                                                <ul>#}
{#                                                    <li><h4>Абонемент на 8 занятий</h4></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="price-selet pric-clr2">#}
{#                                            <a class="popup-with-zoom-anim" href="#">Select Plan</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть направление</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <!-- Все цены -->
    <div class="programs-modal modal fade" id="priceModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-4 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-4 my_planHeader my_plan1">
                                            <div class="my_planTitle">Plan 1</div>
                                            <div class="my_planPrice">Пробное занятие</div>
                                            <div class="my_planDuration"> </div>
                                            <a type="button" class="btn btn-default">Sign Up</a>
                                        </div>
                                        <div class="col-xs-4 my_planHeader my_plan2">
                                            <div class="my_planTitle">Plan 2</div>
                                            <div class="my_planPrice">Абонемент на 4 занятия</div>
                                            <div class="my_planDuration">per month</div>
                                            <a type="button" class="btn btn-default">Sign Up</a>
                                        </div>
                                        <div class="col-xs-4 my_planHeader my_plan3">
                                            <div class="my_planTitle">Plan 3</div>
                                            <div class="my_planPrice">Абонемент на 8 занятий</div>
                                            <div class="my_planDuration">per month</div>
                                            <a type="button" class="btn btn-default">Sign Up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my_featureRow">
                                <div class="col-xs-12 col-sm-4 my_feature">
                                    Вместе с мамой
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                                            <i>100</i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                                            <i class="fa fa-check my_check"></i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                                            <i class="fa fa-check my_check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my_featureRow">
                                <div class="col-xs-12 col-sm-4 my_feature">
                                    Музыка с мамой
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                                            <i class="fa"></i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                                            <i>200</i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                                            <i class="fa fa-check my_check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my_featureRow">
                                <div class="col-xs-12 col-sm-4 my_feature">
                                    Мастер-классы
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                                            <i class="fa"></i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                                            <i class="fa"></i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                                            <i>300</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my_featureRow">
                                <div class="col-xs-12 col-sm-4 my_feature">
                                    Учимся играя
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                                            <i class="fa"></i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                                            <i class="fa"></i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                                            <i class="fa fa-check my_check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my_featureRow">
                                <div class="col-xs-12 col-sm-4 my_feature">
                                    Музыкальные занятия
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                                            <i class="fa"></i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                                            <i class="fa"></i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                                            <i class="fa fa-check my_check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my_featureRow">
                                <div class="col-xs-12 col-sm-4 my_feature">
                                    Мастерская сказки
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                                            <i class="fa"></i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                                            <i class="fa"></i>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                                            <i class="fa fa-check my_check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть прайс</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>