{#<p>{{ context.test }}</p>#}
<nav class="navbar navbar-inverse navbar-main navbar-fixed-top">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav social">
                <li><a id="social_button" href="https://vk.com/baobab_ekab"><i class="fa fa-lg fa-vk"></i></a></li>
                <li><a id="social_button" href="INSTAGRAM_LINK"><i class="fa fa-lg fa-instagram"></i></a></li>
                <li><a id="social_button" href="YOUTUBE_LINK"><i class="fa fa-lg fa-telegram"></i></a></li>
            </ul>
    {#            <div class="navbar-brand hidden-xs">#}
    {#                <a class="white-circle" href="index.php">#}
    {#                    <img class="logo" src="http://excitive.me/demo/temp/logo.svg" alt="Logo">#}
    {#                </a>#}
    {#            </div>#}
            <ul class="nav navbar-nav navbar-right">
                <li><a class="page-scroll" href="#programs">Программы</a></li>
                <li><a class="page-scroll" href="#null">Цены</a></li>
                <li><a class="page-scroll" href="#actions">Акции</a></li>
                <li><a class="page-scroll" href="#team">Фото</a></li>
                <li><a class="page-scroll" href="#contact">Контакты</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


{#<div class="container">#}
{#        <div class="row">#}
{#                <div class="social">#}
{#                    <ul>#}
{#                        <li><a href="TWITTER_LINK"><i class="fa fa-lg fa-twitter"></i></a></li>#}
{#                        <li><a href="INSTAGRAM_LINK"><i class="fa fa-lg fa-instagram"></i></a></li>#}
{#                        <li><a href="YOUTUBE_LINK"><i class="fa fa-lg fa-youtube"></i></a></li>#}
{#                    </ul>#}
{#                </div>#}
{#        </div>#}
{#</div>#}

{#<div id="navbar" class="navbar-collapse collapse">#}
{#    <ul class="nav navbar-nav navbar-center">#}
{#        <li><a href="NAV_|_Link">NAV |</a></li>#}
{#        <li><a href="NAV_||_Link">NAV ||</a></li>#}
{#        <li><a href="NAV_|||_Link">NAV |||</a></li>#}
{#    </ul>#}
{#</div>#}



