<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

<style>
.bk-color-one {
 background-color: #f55039;
}
.bk-color-two {
 background-color: #46A6F7;
}
.bk-color-three {
 background-color: #47887E;
}
.button-color-one {
 border: none;
 background-color: #f55039;
 color: #fff;
}
.button-color-one:hover, .button-color-one:focus {
 color: #fff;
 }
.button-color-two {
 border: none;
 background-color: #46A6F7;
 color: #fff;
}
.button-color-two:hover, .button-color-two:focus {
 color: #fff;
 }
.button-color-three {
 border: none;
 background-color: #47887E;
 color: #fff;
}
.button-color-three:hover, .button-color-three:focus {
 color: #fff;
 }
.pricing-nine {
 border: 1px solid #EDEDED;
 margin-bottom: 30px;
}
.width-perticular {
 width: 300px;
}
.pricing-nine .table {
 text-align: center;
 margin-bottom: 0px;
}
.pricing-nine thead tr th {
 font-weight: normal;
 font-weight: normal;
 height: 72px;
 vertical-align: middle;
 text-align: center;
{# color: #fff;#}
}
.pricing-nine i.icon-red {
 color: rgb(250, 57, 57);
}
.pricing-nine i.icon-green {
 color: #00E025;
}
</style>

<div class="container">
    <div class="row">
        <div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div class="wrapper">
                <div class="pricing-nine">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="width-perticular">Тип абонемента</th>
                                </tr>
                                <tr>
{#                                    <th class="width-perticular">Тип абонемента</th>#}
                                    <th class="bk-color-one">Разовый</th>
                                    <th class="bk-color-two">4 занятия</th>
                                    <th class="bk-color-three">8 занятий</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
{#                                    <td class="width-perticular">20 GB Hard Disk Included</td>#}
                                    <td>N/A</td>
                                    <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                </tr>
                                <tr>
{#                                    <td class="width-perticular">120 TB Bandwidth</td>#}
                                    <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    <td>N/A</td>
                                    <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                </tr>
                                <tr>
{#                                    <td class="width-perticular">Dedicated Support Panel</td>#}
                                    <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                                    <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                </tr>
                                <tr>
{#                                    <td class="width-perticular">Extra Plugin Features</td>#}
                                    <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                                    <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                                    <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>